# 核心功能
CONFIG_PACKAGE_keepalived=y
CONFIG_PACKAGE_keepalived-sync=y
CONFIG_PACKAGE_luci-app-keepalived=y
CONFIG_PACKAGE_luci-app-keepalived-ha=y

# IPVS 支持
CONFIG_PACKAGE_ipvsadm=y
CONFIG_PACKAGE_kmod-nf-ipvs=y
CONFIG_PACKAGE_kmod-ipvs=y
CONFIG_PACKAGE_kmod-ipvs-core=y
CONFIG_PACKAGE_kmod-ipvs-rr=y
CONFIG_PACKAGE_kmod-ipvs-wrr=y
CONFIG_PACKAGE_kmod-ipvs-sh=y
CONFIG_PACKAGE_kmod-nf-ipvs-ftp=y
CONFIG_PACKAGE_kmod-nf-ipvs-sip=y

# Netfilter & IPTables 支持
CONFIG_PACKAGE_kmod-ipt-core=y
CONFIG_PACKAGE_kmod-ipt-conntrack=y
CONFIG_PACKAGE_kmod-ipt-ipvs=y
CONFIG_PACKAGE_kmod-ipt-nat=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-ipt-filter=y
CONFIG_PACKAGE_kmod-ipt-compat-xtables=y
CONFIG_PACKAGE_kmod-nf-conntrack=y
CONFIG_PACKAGE_kmod-nf-nat=y
CONFIG_PACKAGE_kmod-nfnetlink=y

# 网络依赖库
CONFIG_PACKAGE_libnl-genl200=y
CONFIG_PACKAGE_libnl-route200=y
CONFIG_PACKAGE_libnfnetlink0=y
CONFIG_PACKAGE_libip4tc2=y
CONFIG_PACKAGE_libip6tc2=y
CONFIG_PACKAGE_libxtables12=y
CONFIG_PACKAGE_libipset13=y

# 实用工具
CONFIG_PACKAGE_procps-ng=y
CONFIG_PACKAGE_procps-ng-pkill=y
CONFIG_PACKAGE_git=y
CONFIG_PACKAGE_git-lfs=y
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_yq=y
CONFIG_PACKAGE_libopenssl=y

# LuCI 兼容层
CONFIG_PACKAGE_luci-compat=y